.venv
.env
__pycache__
*.db
*.db-journal
.DS_Store
logs/

#################### VisualStudioCode.gitignore ####################

.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
!.vscode/*.code-snippets
